<div class="flex flex-col h-full items-center">
    <% if (user && isAuthenticated) { %>
      <h2 class="text-xl p-5 font-semibold">
        Hey, <%= user.firstName %>! Here are your tasks:
      </h2>
    <% } %>
    <div class="flex flex-col justify-center items-center space-y-3">
      <% if (isLoading) { %>
        <p>Loading tasks...</p>
      <% } else { %>
        <% if (!tasks || tasks.length < 1) { %>
          <h3>You have no tasks to display</h3>
        <% } else { %>
          <% tasks.forEach(task => { %>
            <div
              hx-put="/<%= task.id %>"
              hx-trigger="dblclick"
              class="w-full border rounded-md p-3 border-emerald-300"
            >
              <div class="flex justify-around items-center py-2 px-10 gap-3 hover:cursor-pointer htmx-swapping">
                <p class="text-2xl <%= task.completed ? 'line-through' : '' %>">
                  <%= task.task%>
                </p>
                <button
                hx-delete="/<%= task.id %>"
                hx-target="this"
                hx-swap="outerHTML swap:1s"
                  class="rounded-md px-4 py-3 bg-red-500 text-sm text-white tracking-widest border-none hover:bg-red-400 "
                >
                  Delete
                </button>
              </div>
            </div>
          <% }); %>
        <% } %>
      <% } %>
    </div>
    <%- include('../partials/addTask') %>
  </div>


<style>
  button.htmx-swapping {
  opacity: 0;
}
</style>